@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Odibee+Sans&display=swap');



.img {
    border-radius: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
    position: relative;
    bottom: 10rem;
}

/*.container {
    width: 50rem;
    height: 30rem;
    background-color: black;
    position: relative;
    left: 60rem;
    bottom: 60rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
   
}*/

.menu {
    position: relative;
    width: 30rem;
    height: 2rem;
    background-color: grey;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    left: 70%;
    bottom: 48.5rem;
   
    
}

.close_button {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.5rem;
    background-color: lightgrey;
    position: relative;
    left: 1rem;
    top: 0.45rem;
    border: 1px solid black;
}

.close_button:hover {
    
    background-color: red;
}

.minimize_button {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.5rem;
    background-color: lightgray;
    position: relative;
    left: 2.2rem;
    bottom: 0.50rem;
    border: 1px solid black;
    
}

.minimize_button:hover {
    background-color: lightseagreen;
}

.buffer_button {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.5rem;
    background-color: lightgray;
    position: relative;
    left: 3.4rem;
    bottom: 1.4rem;
    border: 1px solid black;
}

.buffer_button:hover {
    background-color: yellow;
}

.screen {
    width: 30rem;
    height: 20rem;
    background-color: black;
    position: relative;
    bottom: 50rem;
    left: 70%;
    
}

.screen p {
    position: relative;
    top: 30%;
    left: 50%;
    margin-left: -8.5em;
    text-align: left;
    font-size: 1.25em;
    font-family: 'Changa', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.screen span {
    color: #fff;
    font-weight: bold;
} 


.line1 {
    color: #9CD9F0;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
    -webkit-animation: blink 1s 2s 2 forwards;
    -moz-animation: blink 1s 2s 2 forwards;
    -o-animation: blink 1s 2s 2 forwards;
    animation: blink 1s 2s 2 forwards;
  }

  .line2 {
    color: #CDEE69;
    -webkit-animation: type .5s 4.25s steps(20, end) forwards;
    -moz-animation: type .5s 4.25s steps(20, end) forwards;
    -o-animation: type .5s 4.25s steps(20, end) forwards;
    animation: type .5s 4.25s steps(20, end) forwards;
  }
  
  .cursor2 {
    -webkit-animation: blink 1s 5.25s 2 forwards;
    -moz-animation: blink 1s 5.25s 2 forwards;
    -o-animation: blink 1s 5.25s 2 forwards;
    animation: blink 1s 5.25s 2 forwards;
  }
  
  .line3 {
    color: #E09690;
    -webkit-animation: type .5s 7.5s steps(20, end) forwards;
    -moz-animation: type .5s 7.5s steps(20, end) forwards;
    -o-animation: type .5s 7.5s steps(20, end) forwards;
    animation: type .5s 7.5s steps(20, end) forwards;
  }
  
  .cursor3 {
    -webkit-animation: blink 1s 8.5s 2 forwards;
    -moz-animation: blink 1s 8.5s 2 forwards;
    -o-animation: blink 1s 8.5s 2 forwards;
    animation: blink 1s 8.5s 2 forwards;
  }
  
  .line4 {
    color: #fff;
    -webkit-animation: type .5s 10.75s steps(20, end) forwards;
    -moz-animation: type .5s 10.75s steps(20, end) forwards;
    -o-animation: type .5s 10.75s steps(20, end) forwards;
    animation: type .5s 10.75s steps(20, end) forwards;
  }
  
  .cursor4 {
    -webkit-animation: blink 1s 11.5s infinite;
    -moz-animation: blink 1s 8.5s infinite;
    -o-animation: blink 1s 8.5s infinite;
    animation: blink 1s 8.5s infinite;
  }
  
  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-moz-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-o-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes type {
    to {
      width: 17em;
    }
  }
  
  @-moz-keyframes type {
    to {
      width: 17em;
    }
  }
  
  @-o-keyframes type {
    to {
      width: 17em;
    }
  }
  
  @keyframes type {
    to {
      width: 17em;
    }
  }

